{% extends 'base.html' %}


{% block title %}
    TodoManager | Todo List
{% endblock title %}

{% block heading %}
    <div class="text-center py-3">
        {{page}} 
    </div>
{% endblock heading %}
    

{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div class="row alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}

        <form class="row m-3" method="post">
            {% csrf_token %}
            <div class="col-6">
                <input type="text" name="task" class="form-control" id="inputtask" placeholder="Your task">
            </div> 
            <div class="col-6">
                <button type="submit" class="btn btn-primary bg-black border-0 px-5 fw-bold">Add</button>
            </div>
        </form>
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Todo</th>
                    <th scope="col">Status</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for task in all_tasks %}
                    {% if task.is_completed %}
                        <tr class="table-success">
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{task.task}}</td>
                            <td>Completed</td>
                            <td>Edit</td>
                            <td>Delete</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{task.task}}</td>
                            <td>Not completed</td>
                            <td>Edit</td>
                            <td>Delete</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock content %}
    